<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='create_url.css') }}">
    </head>
    <body>
        {% if content %}
            {% if content['status'] == 'success' %}
                <div class="shortening_result">shortened url is: <h1>{{ content['host_name'] + '/' + content['key'] }}</h1></div>
            {% elif content['status'] == 'alias exists' %}
                <div class="shortening_result"> that alias already exists</div>
            {% endif %}
        {% endif %}
        {% if msg %}
            <h3 class="shortening_result">{{ msg }}</h3>
        {% endif %}
    </body>
</html>