<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <form id="shortener_form" method="POST" action="/">
            {{ form.csrf_token }}
            <div>
                {{ form.url.label }} {{ form.url(size=20) }}
            </div>
            <div>
                {{ form.alias.label }} {{ form.alias }}
            </div>
            {{ form.shorten_url }}
        </form>


    </body>
</html>