<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('account.static', filename='css/landing.css') }}">
</head>
<body>
    <div id="form_area">
        <form id="signup_form" method="POST">
             {{ signup_form.csrf_token }}
            <div>{{ signup_form.first_name.label }} {{ signup_form.first_name }}</div>
            <div>{{ signup_form.last_name.label }} {{ signup_form.last_name }}</div>
            <div>{{ signup_form.email.label }} {{ signup_form.email }}</div>
            <div>{{ signup_form.password.label }} {{ signup_form.password }}</div>
            <div>{{ signup_form.password2.label }} {{ signup_form.password2 }}</div>
            <div>{{ signup_form.facebook_oauth2.label }} {{ signup_form.facebook_oauth2 }}</div>
            <div>{{ signup_form.google_oauth2.label }} {{ signup_form.google_oauth2 }}</div>
            <div>{{ signup_form.signup.label }} {{ signup_form.signup }}</div>
        </form>
        <form id="login_form" method="POST">
            {{ login_form.csrf_token }}
            <div>{{ login_form.email.label }} {{ login_form.email }}</div>
            <div>{{ login_form.password.label }} {{ login_form.password }}</div>
            <div>{{ login_form.facebook_oauth2 }}</div>
            <div> {{ login_form.google_oauth2 }} </div>
            <div> {{ login_form.login }}</div>
        </form>

    </div>
</body>
</html>